.container
    margin: 0 auto
    padding: 0
.button
    background-color: $btn-bg-color
    color: $btn-color
    border: 1px solid $btn-bg-color
    width: 150px
    height: 48px
    font: $btn-font
    border-radius: 25px
li
    list-style-type: none

.heading-section
    font: 700 48px/1 Montserrat
    color: #ffffff
    padding: 30px

