#social
    padding: 100px
    background: transparent

    .heading
        font: 700 24px/32px Montserrat
        color: #635c73
    .violet-text
        font: 400 16px/32px Montserrat
        color: #8d81ac
        line-height: 32px
    .grey-text
        font: 400 16px/32px Montserrat
        color: #848e97
    .social-btn
        margin-top: 100px
    .dark-blue
        background-color: #3b5998



